.headerPregrado {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  width: 100%;
  height: 70vh;
  background-position: center;

  .page-header {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;

    h1 {
      color: #fff;
      text-align: center;
    }
  }
}

.contenedorDestacados {
  display: flex;
  align-items: stretch;
  justify-content: center;
  max-width: 1400px;
  width: 95%;
  margin: 2% auto;
  column-gap: 20px;

  .itemsDestacados {
    width: 31.8%;
    padding: 3%;
    color: #fff;
    font-size: 1.5vw;
    line-height: 1.3;
    text-align: center;

    &:nth-child(1) {
      background-color: theme-color("azul");
    }

    &:nth-child(2) {
      background-color: theme-color("morado");
    }

    &:nth-child(3) {
      background-color: theme-color("naranja");
    }
  }
}

.contInfoVariable {
  display: flex;
  align-items: stretch;
  justify-content: center;
  max-width: 1400px;
  width: 95%;
  margin: 2% auto;
  column-gap: 20px;

  .itemsVariables {
    padding: 3%;
    color: #fff;
    font-size: 1.2vw;
    line-height: 1.3;
    border-left: 0.5vw solid #fff;
    background-color: theme-color("negro");
    text-align: center;

    &:last-child() {
      border-right: 0.5vw solid #fff;
    }
  }
}

@media (max-width: 768px) {
  .contenedorDestacados {
    display: flex;
    flex-direction: column;
    margin: 2% auto;
    row-gap: 20px;

    .itemsDestacados {
      width: 100%;
      color: #fff;
      font-size: 1.3rem;
      line-height: 1.3;
    }
  }

  .contInfoVariable {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1%;

    .itemsVariables {
      padding: 3%;
      color: #fff;
      font-size: 1.3rem;
      line-height: 1.3;
      width: 100%;
      border: 0.5vw solid #fff;
      text-align: center;

      &:last-child() {
        border-right: 0.5vw solid #fff;
      }
    }
  }
}
