.contInfoPractica {
  background-color: theme-color("naranja");
  padding: 1% 0;
  margin: 2% 0;

  .intContInfoFractica {
    max-width: 1000px;
    margin: 0 auto;
    width: 95%;

    .titInfoPractica {
      text-align: center;
      text-transform: uppercase;
      color: #fff;
    }

    .conItemsParcaticos {
      color: #fff;
      font-size: 1.3rem;
      display: flex;
      flex-direction: column;

      .itemsInfoPractica {
        line-height: 1.1;
        margin-bottom: 2%;
      }
    }
  }
}

@media (max-width: 768px) {
  .contInfoPractica {
    background-color: theme-color("naranja");
    padding: 1% 0;
    margin: 2% 0;

    .intContInfoFractica {
      max-width: 1000px;
      margin: 0 auto;
      width: 95%;

      .titInfoPractica {
        text-align: center;
        text-transform: uppercase;
        color: #fff;
      }

      .conItemsParcaticos {
        color: #fff;
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;

        .itemsInfoPractica {
          line-height: 1.1;
          margin-bottom: 2%;
        }
      }
    }
  }
}
