.seccionPrograma {
  margin-bottom: 8vh;

  .tituloSecPrograma {
    text-transform: uppercase;
    text-align: center;
  }

  .conteTitulos {
    color: #000;
    max-width: 1400px;
    width: 95%;
    margin: 0 auto 2%;
    font-size: 1.3rem;

    .itemsIntroPrograma {
      margin: 2% 0;
    }
  }

  .contAsignaturas {
    max-width: 1400px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .itemsAsignaturas {
      position: relative;
      overflow: hidden;
      width: 30%;
      margin: 1%;
      background-size: cover;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      &:hover {
        cursor: pointer;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .textDescripcion {
        padding: 10% 5%;
        font-size: 1rem;
        line-height: 1.2;
        align-items: center;
        width: 50%;
        right: 0;
        top: 0;
        height: 100%;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .titulo {
          text-transform: uppercase;
          font-size: 1.3rem;
          margin-bottom: 5%;
        }

        .descargar-guia {
          margin: 4% auto;
          text-align: center;
          padding: 5px 20px;
          width: 100%;
          text-transform: uppercase;
          border: solid 1px #fff;
        }
      }

      &:nth-child(odd) {
        .textDescripcion {
          background-color: rgba(188, 26, 128, 0.9);
        }
      }

      &:nth-child(even) {
        .textDescripcion {
          background-color: rgba(0, 0, 0, 0.9);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .seccionPrograma {
    margin-bottom: 8vh;

    .tituloSecPrograma {
      text-transform: uppercase;
      text-align: center;
    }

    .conteTitulos {
      font-size: 1.3rem;

      .itemsIntroPrograma {
        margin: 2% 0;
      }
    }

    .contAsignaturas {
      max-width: 1400px;
      width: 95%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      .itemsAsignaturas {
        width: 90%;
        margin: 1%;
        background-size: cover;
        display: flex;
        flex-direction: row;
      }
    }
  }
}
