@font-face {
  font-family: "oswaldbold";
  src:
    url("../fonts/oswald-bold-webfont.eot"),
    url("../fonts/oswald-bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/oswald-bold-webfont.woff2") format("woff2"),
    url("../fonts/oswald-bold-webfont.woff") format("woff"),
    url("../fonts/oswald-bold-webfont.ttf") format("truetype"),
    url("../fonts/oswald-bold-webfont.svg#oswaldbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "oswaldbold";
  src:
    url("../fonts/oswald-bolditalic-webfont.eot"),
    url("../fonts/oswald-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/oswald-bolditalic-webfont.woff2") format("woff2"),
    url("../fonts/oswald-bolditalic-webfont.woff") format("woff"),
    url("../fonts/oswald-bolditalic-webfont.ttf") format("truetype"),
    url("../fonts/oswald-bolditalic-webfont.svg#oswaldbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "oswalddemi-bold";
  src:
    url("../fonts/oswald-demi-bolditalic-webfont.eot"),
    url("../fonts/oswald-demi-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/oswald-demi-bolditalic-webfont.woff2") format("woff2"),
    url("../fonts/oswald-demi-bolditalic-webfont.woff") format("woff"),
    url("../fonts/oswald-demi-bolditalic-webfont.ttf") format("truetype"),
    url("../fonts/oswald-demi-bolditalic-webfont.svg#oswalddemi-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "oswalddemibold";
  src:
    url("../fonts/oswald-demibold-webfont.eot"),
    url("../fonts/oswald-demibold-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/oswald-demibold-webfont.woff2") format("woff2"),
    url("../fonts/oswald-demibold-webfont.woff") format("woff"),
    url("../fonts/oswald-demibold-webfont.ttf") format("truetype"),
    url("../fonts/oswald-demibold-webfont.svg#oswalddemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "oswaldextra-light";
  src:
    url("oswald-extra-lightitalic-webfont.eot"),
    url("oswald-extra-lightitalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("oswald-extra-lightitalic-webfont.woff2") format("woff2"),
    url("oswald-extra-lightitalic-webfont.woff") format("woff"),
    url("oswald-extra-lightitalic-webfont.ttf") format("truetype"),
    url("oswald-extra-lightitalic-webfont.svg#oswaldextra-light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "oswaldextralight";
  src:
    url("../fonts/oswald-extralight-webfont.eot"),
    url("../fonts/oswald-extralight-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/oswald-extralight-webfont.woff2") format("woff2"),
    url("../fonts/oswald-extralight-webfont.woff") format("woff"),
    url("../fonts/oswald-extralight-webfont.ttf") format("truetype"),
    url("../fonts/oswald-extralight-webfont.svg#oswaldextralight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "oswaldheavy";
  src:
    url("../fonts/oswald-heavy-webfont.eot"),
    url("../fonts/oswald-heavy-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/oswald-heavy-webfont.woff2") format("woff2"),
    url("../fonts/oswald-heavy-webfont.woff") format("woff"),
    url("../fonts/oswald-heavy-webfont.ttf") format("truetype"),
    url("../fonts/oswald-heavy-webfont.svg#oswaldheavy") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "oswaldheavy";
  src:
    url("../fonts/oswald-heavyitalic-webfont.eot"),
    url("../fonts/oswald-heavyitalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/oswald-heavyitalic-webfont.woff2") format("woff2"),
    url("../fonts/oswald-heavyitalic-webfont.woff") format("woff"),
    url("../fonts/oswald-heavyitalic-webfont.ttf") format("truetype"),
    url("../fonts/oswald-heavyitalic-webfont.svg#oswaldheavy") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "oswaldlightNormal";
  src:
    url("../fonts/oswald-light-webfont.eot"),
    url("../fonts/oswald-light-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/oswald-light-webfont.woff2") format("woff2"),
    url("../fonts/oswald-light-webfont.woff") format("woff"),
    url("../fonts/oswald-light-webfont.ttf") format("truetype"),
    url("../fonts/oswald-light-webfont.svg#oswaldlight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "oswaldlight";
  src:
    url("../fonts/oswald-lightitalic-webfont.eot"),
    url("../fonts/oswald-lightitalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/oswald-lightitalic-webfont.woff2") format("woff2"),
    url("../fonts/oswald-lightitalic-webfont.woff") format("woff"),
    url("../fonts/oswald-lightitalic-webfont.ttf") format("truetype"),
    url("../fonts/oswald-lightitalic-webfont.svg#oswaldlight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "oswaldmedium";
  src:
    url("../fonts/oswald-medium-webfont.eot"),
    url("../fonts/oswald-medium-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/oswald-medium-webfont.woff2") format("woff2"),
    url("../fonts/oswald-medium-webfont.woff") format("woff"),
    url("../fonts/oswald-medium-webfont.ttf") format("truetype"),
    url("../fonts/oswald-medium-webfont.svg#oswaldmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "oswaldmedium";
  src:
    url("../fonts/oswald-mediumitalic-webfont.eot"),
    url("../fonts/oswald-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/oswald-mediumitalic-webfont.woff2") format("woff2"),
    url("../fonts/oswald-mediumitalic-webfont.woff") format("woff"),
    url("../fonts/oswald-mediumitalic-webfont.ttf") format("truetype"),
    url("../fonts/oswald-mediumitalic-webfont.svg#oswaldmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
