@font-face {
  font-family: "sansationregular";
  src:
    url("/wp-content/themes/somacademy/resources/assets/fonts/Sansation-Regular-webfont.eot"),
    url("/wp-content/themes/somacademy/resources/assets/fonts/Sansation-Regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/somacademy/resources/assets/fonts/Sansation-Regular-webfont.woff") format("woff"),
    url("/wp-content/themes/somacademy/resources/assets/fonts/Sansation-Regular-webfont.ttf") format("truetype"),
    url("/wp-content/themes/somacademy/resources/assets/fonts/Sansation-Regular-webfont.svg#sansationregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sansationbold";
  src:
    url("/wp-content/themes/somacademy/resources/assets/fonts/Sansation-Bold-webfont.eot"),
    url("/wp-content/themes/somacademy/resources/assets/fonts/Sansation-Bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/somacademy/resources/assets/fonts/Sansation-Bold-webfont.woff") format("woff"),
    url("/wp-content/themes/somacademy/resources/assets/fonts/Sansation-Bold-webfont.ttf") format("truetype"),
    url("/wp-content/themes/somacademy/resources/assets/fonts/Sansation-Bold-webfont.svg#sansationbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
