#destacadosHome {
  .cont-destacados {
    display: flex;
    flex-direction: row;

    .item-destacado {
      width: 25%;
      position: relative;

      .infoDestacado {
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 10px;
        width: 80%;

        .titulo-destcado {
          font-size: calc(1em + 0.1vw);
          color: #fff;
        }

        .parrafo-destacado {
          font-size: calc(0.8em + 0.1vw);
          line-height: 1;
          color: #fff;
        }

        .btn-destacado {
          float: right;
          background-color: #fff;
          font-size: 0.9rem;
          text-align: center;
          border: solid 2px #bc1a80;
          text-transform: uppercase;
          display: block;
          width: fit-content;
          padding: 0 6px;
        }
      }
    }
  }

  @media (max-width: 992px) {
    .cont-destacados {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .item-destacado {
        width: 50%;
        position: relative;
      }
    }
  }

  @media (max-width: 992px) {
    .cont-destacados {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .item-destacado {
        width: 100%;
        max-height: 25vh;
        margin-bottom: 2%;
        overflow: hidden;
        position: relative;
      }
    }
  }
}
