.template-admision {
  header {
    position: relative;
    background-color: theme-color("negro");
  }

  .headerFixed {
    position: sticky !important;
    top: 0;
    width: 100%;
    left: 0;
    background-color: theme-color("negro");
  }

  .page-header {
    margin-bottom: 3%;
    position: relative;
    min-height: 200px;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    color: theme-color("blanco");
    text-transform: uppercase;
  }

  .navEspecial {
    position: relative;
    width: 100%;
    z-index: 99;
    right: 0;
    background-color: theme-color("naranjaEstudios");
  }

  .fondoNegro {
    background-color: theme-color("negro");
    min-height: 225px;

    .fondoNaranja {
      background-color: theme-color("naranjaEstudios");
      font-size: 3rem;
      text-align: center;
      font-weight: bold;
      padding: 1% 0;
    }

    .textoNaranja {
      color: theme-color("naranjaEstudios");
      padding: 2% 3% 0 3%;
      margin-bottom: 1px;
    }

    .fondoAzulClaro {
      background-color: theme-color("azulClaroEstudios");
      color: theme-color("azulOscuroEstudios");
      font-size: 3rem;
      text-align: center;
      font-weight: bold;
      padding: 1% 0;
    }

    .fondoAzulOscuro {
      background-color: theme-color("azulOscuroEstudios");
      color: theme-color("azulClaroEstudios");
      font-size: 3rem;
      text-align: center;
      font-weight: bold;
      padding: 1% 0;
      border-bottom: solid 1px theme-color("azulClaroEstudios");
    }

    .fondoGris {
      background-color: rgb(181, 179, 179);
      color: theme-color("azulOscuroEstudios");
      font-size: 3rem;
      text-align: center;
      font-weight: bold;
      padding: 1% 0;
    }

    .textoAzulOscuro {
      color: theme-color("azulClaroEstudios");
      padding: 3%;
      font-size: calc(1em + 0.1vw);
    }
  }

  footer {
    background-color: theme-color("negro");
    padding: 1% 0 0 0;
    border-top: 4px solid theme-color("naranjaEstudios");
    margin-top: 2%;

    a {
      color: theme-color("naranjaEstudios");
      text-decoration: none;
      background-color: transparent;
    }

    .footerTres {
      .gform_footer {
        input[type="submit"] {
          color: theme-color("blanco");
          background-color: theme-color("naranjaEstudios");
          border-color: theme-color("naranjaEstudios");
          padding: 0.3rem 1rem;
          font-size: 1rem;
          line-height: 1;
          border: none;
          text-transform: uppercase;
          float: right;
        }
      }
    }

    .footerCuatro {
      .btnAccesoAlumnos {
        display: block;
        width: 60%;
        background-color: #fff;
        border-radius: 25px;
        text-align: center;
        margin: 10px auto;
        text-transform: uppercase;
        color: theme-color("naranjaEstudios");
        font-size: 0.8rem;
        padding: 4px;
        border: solid 2px theme-color("naranjaEstudios");
      }
    }
  }

  @media (max-width: 998px) {
    .fondoNegro {
      .fondoNaranja {
        font-size: 2.5rem;
      }

      .fondoAzulClaro {
        font-size: 2.5rem;
      }

      .fondoAzulOscuro {
        font-size: 2.5rem;
      }

      .fondoGris {
        font-size: 2.5rem;
      }
    }
  }

  @media (max-width: 768px) {
    .fondoNegro {
      background-color: theme-color("negro");
      min-height: 225px;

      .textoNaranja {
        padding: 6%;
        font-size: calc(0.9em + 0.1vw);
      }

      .textoAzulOscuro {
        padding: 6%;
        font-size: calc(0.9em + 0.1vw);
      }
    }
  }
}
