.template-alumnos {
  background-color: white;

  .page-header {
    min-height: 250px;
    color: #fff;
    background-size: cover;
    background-position: bottom;
    display: grid;
    align-items: center;
    text-align: center;
  }

  .contenedor-alumnos {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;

    .contAlumno {
      border-bottom: 1px solid #d00a7e;
      display: flex;
      flex-direction: row;
      margin: 1% 0;
      align-items: center;
      justify-content: space-between;

      .txtAlumno {
        width: 75%;

        p {
          font-size: 1.1rem;
          line-height: 1.1;
        }

        h2 {
          font-size: 1.5rem;
          text-transform: uppercase;
          margin-bottom: 4%;
          font-weight: bold;
        }
      }

      .imgAlumno {
        width: 20%;

        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .contenedor-alumnos {
      max-width: 1000px;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      align-items: center;

      .contAlumno {
        flex-direction: column;
        margin: 1% 0;
        align-items: center;
        justify-content: center;

        .txtAlumno {
          width: 90%;
        }

        .imgAlumno {
          width: 90%;
          margin-bottom: 2%;
        }
      }
    }
  }
}
