.template-asignaturas {
  header {
    position: relative;
    background-color: theme-color("negro");
  }

  .headerFixed {
    position: fixed !important;
    top: 0;
    width: 100%;
    left: 0;
    background-color: theme-color("negro");
  }

  .page-header {
    margin-bottom: 3%;
    position: relative;
    min-height: 200px;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    color: theme-color("blanco");
    text-transform: uppercase;
  }

  .navEspecial {
    position: relative;
    width: 100%;
    z-index: 99;
    right: 0;
    background-color: theme-color("naranjaEstudios");
  }

  .card {
    background-color: theme-color("azulOscuroEstudios");

    .card-header {
      border-bottom: solid 1px theme-color("blanco");
      margin-bottom: 1px;
      padding: 0.5rem 1.25rem;
    }

    button {
      color: theme-color("blanco");
    }

    .card-body {
      background-color: theme-color("blanco");
      color: theme-color("negro");

      .barraTotal {
        background-color: theme-color("azulOscuroEstudios");
        width: 100%;
        padding: 5px 0;
        margin: 10px 0;
        text-align: center;
        color: #fff;
        text-transform: capitalize;
      }
    }

    .contenedorTabla {
      display: inline-flex;
      width: 100%;

      .titulOficial {
        width: 50%;

        .encabezadoOfical {
          font-size: 1.1rem;
          background-color: theme-color("azulClaroEstudios");
          color: theme-color("azulOscuroEstudios");
          text-transform: uppercase;
          padding: 1%;
        }

        .tablaAsignaturasOficiales {
          display: block;
          width: 100%;

          .tituloOficiales {
            display: inline-flex;
            width: 100%;
            color: theme-color("azulOscuroEstudios");
            font-weight: bold;
            padding: 2% 1%;

            .colDerechaOficial {
              width: 80%;
            }

            .colIzquierdaOficial {
              width: 20%;
              text-align: center;
            }
          }

          .asignaturasOficiales {
            display: inline-flex;
            width: 100%;

            &:nth-child(2n+1) {
              color: theme-color("azulOscuroEstudios");
              padding: 1%;
            }

            &:nth-child(2n) {
              background-color: #5ccfdb;
              color: theme-color("azulOscuroEstudios");
              padding: 1%;
            }

            a.enlaceGuia {
              color: #000d26;
            }

            .colDerechaOficial {
              width: 80%;
            }

            .colIzquierdaOficial {
              width: 20%;
              text-align: center;
            }
          }
        }
      }

      .tituloPropio {
        width: 50%;

        .encabezadoPropio {
          font-size: 1.1rem;
          background-color: theme-color("naranjaEstudios");
          color: theme-color("blanco");
          text-transform: uppercase;
          padding: 1%;
        }

        .tablaAsignaturasPropias {
          display: block;
          width: 100%;

          .tituloPropios {
            display: inline-flex;
            width: 100%;
            background-color: theme-color("naranjaEstudios");
            color: theme-color("blanco");
            font-weight: bold;
            padding: 2% 1%;

            .colDerechaPropia {
              width: 80%;
            }

            .coIzquierdaPropia {
              width: 20%;
              text-align: center;
            }
          }

          .asignaturasPropias {
            display: inline-flex;
            width: 100%;

            &:nth-child(2n+1) {
              background-color: theme-color("naranjaEstudios");
              color: theme-color("blanco");
              padding: 1%;
            }

            &:nth-child(2n) {
              background-color: #6b462c;
              color: theme-color("blanco");
              padding: 1%;
            }

            a.enlaceGuiaPropia {
              color: #fff;
            }

            .colDerechaPropia {
              width: 80%;
            }

            .coIzquierdaPropia {
              width: 20%;
              text-align: center;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .card {
      .contenedorTabla {
        display: block;

        .titulOficial {
          width: 100%;
        }

        .tituloPropio {
          width: 100%;
        }
      }
    }
  }
}
