.template-blanco {
  header {
    a {
      color: theme-color("rosa");
    }
  }

  p {
    font-size: 1.3rem;
  }

  .banner {
    position: relative;
    width: 100%;
    background-color: rgba(256, 256, 256, 1);
    z-index: 9999;
  }

  .headerFixed {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: rgba(256, 256, 256, 0.6);
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: "sansationbold", serif;
    margin: 3% 0;
  }
}
