.template-calendario {
  .fc-event-title {
    word-wrap: break-word !important;
    display: block;
    width: 100%;
    font-size: 0.6rem;
    white-space: normal;
    text-transform: uppercase;
  }

  .fc-event-time {
    font-size: 0.8rem;
  }

  .contTooltip {
    .contImgTooltip {
      display: block;
      text-align: center;

      .imgTooltip {
        width: 50%;
      }
    }

    .titTooltip {
      font-size: 0.8rem;
      text-align: left;
    }

    .txtTooltip {
      font-size: 0.7rem;
    }
  }

  .tooltip-inner {
    p {
      font-size: 0.7rem;
      text-align: left;
    }
  }

  @media (max-width: 768px) {
    .fc-toolbar {
      display: block;
    }
  }
}
