.template-casting {
  .page-header {
    min-height: 250px;
    color: #fff;
    background-size: cover;
    background-position: center;
    display: grid;
    align-items: center;
    text-align: center;
  }

  h1 {
    margin: 5% 0;
    text-transform: uppercase;
    text-align: center;
  }

  .btn {
    font-size: 0.9rem;
  }

  .fichaCasting {
    border: solid 2px #d00a7e;
    border-radius: 0 25px 0 25px;
    overflow: hidden;
  }

  .capaCasting {
    position: relative;
  }

  .capaTextoDestacado {
    min-height: 50px;
  }

  .capaTextoDestacadoSubir {
    position: absolute;
    color: #d00a7e;
    bottom: 0;
    left: 0;
    z-index: 9;
    padding: 3%;
    width: 100%;
    text-align: center;

    .titGridDestacado {
      text-transform: uppercase;
      font-family: "sansationbold", serif;
      margin-bottom: 10px;
    }

    .descGridDestacado {
      margin-bottom: 10px;
      font-size: 0.9rem;
      line-height: 1rem;
      display: none;

      p {
        line-height: 1rem;
        font-size: 1rem;
      }
    }

    .capaBotones {
      display: none;
    }

    .btngridDestacado {
      width: 100%;
      border: none;
      display: none;
      background-color: #d00a7e;
      text-transform: uppercase;
      color: #fff;
      margin: 13% 0 5%;
      padding: 6% 0;
      font-size: 0.9rem;
    }

    .mostrar {
      display: block;
    }
  }

  .agrandar {
    height: 100%;
    padding-top: 20%;
    color: black;
    background-color: transparent;
    background-image: linear-gradient(to top, rgba(256, 256, 256, 1) 60%, rgba(256, 256, 256, 0.7), rgba(256, 256, 256, 0.3), rgba(256, 256, 256, 0));
  }

  @media (max-width: 992px) {
    .agrandar {
      padding-top: 15%;
    }
  }

  @media (max-width: 768px) {
    .agrandar {
      padding-top: 5%;
    }
  }

  @media (max-width: 576px) {
    .agrandar {
      padding-top: 1%;
    }
  }
}
