footer {
  background-color: theme-color("negro");
  padding: 1% 0 0 0;
  border-top: 4px solid theme-color("primary");
  margin-top: 2%;

  p {
    font-size: 1rem !important;
  }

  section {
    margin-top: 0 !important;
  }

  .footerUno {
    text-align: center;
  }

  .footerDos {
    background-color: transparent;
    text-align: center;
  }

  .footerTres {
    background-color: transparent;
    text-align: center;

    .gform_body {
      ul li.gfield {
        margin-top: 0;
        padding-top: 0;
      }

      input[type="text"] {
        background-color: transparent !important;
        border-radius: 0 !important;
        border: solid 2px theme-color("azul");

        &::placeholder {
          color: theme-color("azul");
          text-transform: uppercase;
          font-weight: 100;
        }
      }

      .ginput_container_consent {
        label {
          font-size: 0.8rem;
          color: theme-color("blanco");
        }

        input[type="radio"],
        input[type="checkbox"] {
          margin-top: 0 !important;
        }
      }
    }

    .gform_footer {
      padding: 0;
      margin: 0;
      clear: none;
      width: auto;

      input[type="submit"] {
        color: #fff;
        background-color: #d00a7e;
        border-color: #d00a7e;
        padding: 0.3rem 1rem;
        font-size: 1rem;
        line-height: 1;
        border: none;
        text-transform: uppercase;
        float: right;
      }
    }
  }

  .footerCuatro {
    background-color: transparent;
    text-align: center;

    .btnAccesoAlumnos {
      display: block;
      width: 60%;
      background-color: theme-color("blanco");
      border-radius: 25px;
      text-align: center;
      margin: 10px auto;
      text-transform: uppercase;
      color: theme-color("primary");
      font-size: 0.8rem;
      padding: 4px;
      border: solid 2px theme-color("primary");
    }
  }

  .menuFooter {
    padding: 10px 0;
    border-top: 1px solid theme-color("naranja");

    ul#menu-menu-footer {
      display: flex;
      list-style: none;
      text-transform: uppercase;
      align-items: center;
      justify-content: center;
      margin: 0;
      font-size: 0.9rem;

      li {
        margin: 0 1%;
      }
    }
  }

  h3 {
    color: theme-color("blanco");
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  .form-check-label {
    color: theme-color("blanco");
    font-size: 0.8rem;
  }

  .btn {
    background-color: transparent;
    color: theme-color("primary");
    border: none;
    padding: 2px;
  }

  .form-control {
    background-color: transparent !important;
    border-radius: 0 !important;
    border: solid 2px theme-color("azul");

    &::placeholder {
      color: theme-color("azul");
      text-transform: uppercase;
      font-weight: 100;
    }
  }

  @media (max-width: 992px) {
    .footerTres {
      padding: 0 7%;
    }
  }
}
