.home {
  background-color: theme-color("blanco");

  @import "front-page/destacados-home";

  .lg-outer {
    z-index: 99999 !important;
  }

  .lg-toolbar {
    background-color: theme-color("negro") !important;
  }

  section {
    margin: 3% 0 0 0;

    .titSeccion {
      margin-bottom: 1%;
      text-align: center;
    }
  }

  .carousel-caption {
    max-width: max-content;

    h3 {
      background-color: rgba(188, 26, 128, 0.8);
      color: theme-color("blanco");
      margin-bottom: 0;
      padding: 2% 5%;
    }

    p {
      background-color: rgba(0, 0, 0, 0.8);
      color: theme-color("blanco");
      font-family: "sansationbold", serif;
      font-size: 1.2rem;
      padding: 2% 5%;
    }
  }

  #encabezadoHome {
    margin: 0;
  }

  #textoPrimero {
    background: rgba(0, 153, 219, 1);
    background: -moz-linear-gradient(left, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
    background: -o-linear-gradient(left, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
    background: -ms-linear-gradient(left, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
    background: linear-gradient(to right, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
    color: #fff;
    margin-top: 0;
    width: 100%;
    //filter: progid: DXImageTransform.Microsoft.gradient (startColorstr="#0099db", endColorstr="#0099db", GradientType=1);

    .txtDestacadoHome {
      font-size: 1.6rem;
      margin: 5% 0;
      text-align: center;
    }
  }

  #bandaMusicales {
    background-color: black;
    background-size: cover;
    color: #fff;
    margin-top: 0;
    padding: 2% 0;
    width: 100%;

    .div-logos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .col-tipo {
        padding: 2%;
        width: 20%;
      }

      .col-tipo-simple {
        flex-grow: 0;
        display: flex;
        align-items: center;
      }

      .col-tipo-doble {
        flex-grow: 0;
        width: 15%;
      }
    }

    .txtDestacadoHome {
      font-size: 1.6rem;
      text-align: center;
    }

    .texto-inferior {
      p {
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
      }
    }

    @media (max-width: 992px) {
      .txtDestacadoHome {
        font-size: 1.3rem;
      }

      .texto-inferior {
        p {
          font-size: 1rem;
        }
      }

      .div-logos {
        .col-tipo {
          padding: 2%;
          width: 30%;
        }

        .col-tipo-simple {
          flex-grow: 0;
        }

        .col-tipo-doble {
          flex-grow: 0;
          width: 30%;
        }
      }
    }

    @media (max-width: 768px) {
      margin-top: -6%;

      .txtDestacadoHome {
        font-size: 1.1rem;
        margin-top: 1rem;
      }

      .texto-inferior {
        margin: 1rem 0;

        p {
          font-size: 0.9rem;
          margin-bottom: 0.3rem;
        }
      }

      .div-logos {
        .col-tipo {
          padding: 2%;
          width: 20%;
        }

        .col-tipo-simple {
          flex-grow: 0;
        }

        .col-tipo-doble {
          flex-grow: 0;
          width: 20%;
        }
      }
    }
  }

  #puertasAbiertas {
    .titSeccion {
      margin-bottom: 0;
    }

    .contFormulario {
      margin: 2% auto;
      max-width: 1400px;
      padding-top: 5px;
      text-align: center;

      .titFormulario {
        font-size: 1.6rem;
        text-transform: uppercase;
      }

      .avisoFormulario {
        font-size: 1rem;
        margin: 2% 0 0;
        text-align: left;
      }
    }
  }

  #situacion {
    h3.textoSituacion {
      font-size: 1.1rem;
      text-align: center;
    }

    h3.textoAutobuses {
      font-size: 1.3rem;
      text-align: center;
    }

    .metroImg {
      margin-top: 4%;
      max-width: 300px;
    }
  }

  #medidas {
    .imgMedidas {
      background-size: cover;
    }
  }

  #formContacto {
    background-color: #f2f2f2;
    padding: 3% 0;
  }

  @media (max-width: 992px) {
    section {
      .titSeccion {
        font-size: 1.1rem;
      }
    }

    #textoPrimero {
      .txtDestacadoHome {
        font-size: 1rem;
      }
    }

    #puertasAbiertas {
      .contFormulario {
        .titFormulario {
          font-size: 1rem;
        }

        .avisoFormulario {
          font-size: 0.9rem;
        }
      }
    }
  }

  @media (max-width: 768px) {
    section {
      margin-top: 0;

      .titSeccion {
        font-size: 1rem;
      }
    }

    .carousel-caption {
      left: 0;
      margin-bottom: 0;
      max-width: 100%;
      padding-bottom: 0;
      position: relative;
      width: 100%;

      .carousel-indicators {
        display: none;
      }

      h3 {
        background-color: theme-color("rosa");
        font-size: 1rem;
        padding: 1% 2%;
      }

      p {
        background-color: theme-color("negro");
        font-size: 0.8rem;
        min-height: 75px;
        padding: 1% 2%;
      }
    }

    #encabezadoHome {
      margin-top: 0;

      .carousel-indicators {
        display: none;
      }
    }

    #textoPrimero {
      margin: 0;

      .txtDestacadoHome {
        font-size: 0.8rem;
      }
    }

    #puertasAbiertas {
      padding-top: 50px;

      .contFormulario {
        .titFormulario {
          font-size: 1rem;
        }
      }
    }
  }
}
