#topBar {
  border-bottom: solid 1px #000;

  .telHeader {
    font-size: 1rem;
    display: inline;
  }

  .mailHeader {
    font-size: 1rem;
    display: inline;
    margin-left: 2%;
  }

  .btnAccesoAlumnos {
    display: block;
    width: 90%;
    background-color: theme-color("negro");
    border-radius: 25px;
    text-align: center;
    margin: 4px;
    text-transform: uppercase;
    color: theme-color("blanco");
    font-size: 0.8rem;
    padding: 4px;
    border: solid 2px theme-color("primary");
  }

  ul {
    list-style: none;
    display: block;
    float: right;
    margin-bottom: 0;

    li.redesTopBar {
      display: inline;
      float: left;

      img {
        width: 30px;
      }
    }
  }

  @media (max-width: 992px) {
    .telHeader {
      display: none;
    }

    .mailHeader {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .btnAccesoAlumnos {
      font-size: 0.6rem;
      width: 95%;
    }
  }
}

header {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;

  .brand {
    .logoHeader {
      width: 200px;
    }
  }

  .inscribete {
    max-width: 120px;
  }

  a {
    color: #fff;
  }

  .hamburger {
    display: none;
  }

  .dropdown-sub {
    .dropdown-menu {
      border-right: none;
      border-left: none;
      position: relative !important;

      .dropdown-item {
        color: #212529;
      }
    }
  }

  .navbar-nav {
    font-family: "sansationregular", serif;
    text-transform: uppercase;
    right: 15px;

    .juniorBtn {
      text-transform: none;
    }

    a.nav-link {
      border-bottom: solid 2px transparent;

      &:hover {
        border-bottom: solid 2px theme-color("blanco");
        color: theme-color("blanco");
      }

      &:active {
        border-bottom: solid 2px theme-color("blanco");
        color: theme-color("blanco");
      }
    }

    .inscribete {
      max-width: 150px;
    }
  }

  .activo {
    display: inline-flex;
  }

  @media (max-width: 992px) {
    .hamburger {
      display: block;
    }

    .navbar-nav {
      display: none;
    }
  }

  .navEspecial {
    position: relative;
    width: 100%;
    z-index: 99;
    right: 0;
    background-color: theme-color("naranjaEstudios");

    .navbar {
      padding: 0.5rem 0.5rem;
    }

    #menu-estudios {
      .nav-link {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border-bottom: solid 2px transparent;
        text-transform: uppercase;

        &:hover {
          color: theme-color("blanco");
          border-bottom: solid 2px theme-color("blanco");
        }
      }
    }
  }
}

.headerFixed {
  position: sticky;
  top: 0;
  width: 100%;
  left: 0;
  background-color: theme-color("negro");
}

.menuMovil {
  position: fixed;
  display: flex;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 999;
  padding: 75px 1%;
  justify-content: center;
  align-items: center;

  .navbar-nav {
    a {
      font-size: 1rem;
      text-transform: uppercase;
      color: theme-color("blanco");
    }

    a.dropdown-item {
      color: theme-color("primary");
    }
  }
}

@media (max-width: 768px) {
  #menu-estudios {
    display: block;
  }

  .hamburger-tres {
    color: #fff;
    text-transform: uppercase;
    display: flex;
  }

  header {
    position: relative;
    background-color: theme-color("negro");

    .brand {
      .logoHeader {
        width: 120px;
      }
    }

    .inscribete {
      max-width: 120px;
    }

    .navEspecial {
      .navbar {
        padding: 0.5rem 0.2rem;
      }

      #menu-estudios {
        .nav-link {
          padding: 0.5rem 0.2rem;
          font-size: 0.75rem;
        }
      }
    }
  }
}
