@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.template-homestudios,
.template-interiorestudios {
  font-family: "Roboto", sans-serif;

  .container {
    max-width: 1545px;
  }

  header {
    position: relative;
    background-color: theme-color("negro");
  }

  .headerFixed {
    position: fixed !important;
    top: 0;
    width: 100%;
    left: 0;
    background-color: theme-color("negro");
  }

  .page-header {
    margin-bottom: 3%;
    position: relative;
    min-height: 300px;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    color: theme-color("blanco");
    text-transform: uppercase;
  }

  #textosSuperiores {
    h3 {
      margin-bottom: 4%;
    }

    .separadorTitulo {
      background-color: theme-color("blanco");
      width: 90%;
      margin: 0 auto 8%;
      height: 2px;
    }

    .capa0 {
      background-color: theme-color("naranjaEstudios");
    }

    .capa1 {
      background-color: theme-color("azulOscuroEstudios");
    }

    .capa2 {
      background-color: theme-color("azulClaroEstudios");
    }

    .capaTexto {
      text-align: center;
      width: 100%;
      height: 100%;
      color: #fff;
      font-weight: bold;
      padding: 8%;

      .parrafoSuperior {
        text-align: left;
        font-size: 1rem;
        line-height: 1.1;
        font-weight: normal;
      }
    }
  }

  #encabezadoHomeEstudios {
    .iconos-especificaciones {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .icono-duracion {
        color: #000;
        padding: 1%;
        border: 1px solid #000;
        background-color: rgb(255, 255, 255);
        text-align: center;
        width: 25%;
        font-size: calc(1em + 0.1vw);
        line-height: 1;
        font-weight: 300;

        .label-icono {
          font-size: calc(0.8em + 0.1vw);
          line-height: 1;
          font-weight: bold;
        }
      }
    }
  }

  #gridImagenes {
    .recuadroTxt {
      background-color: theme-color("naranjaEstudios");
      width: calc(100% - 30px);
      padding: 3%;
      bottom: 0;
      position: absolute;
      height: auto;
      overflow: hidden;

      .tituloGrid {
        color: #fff;
        text-transform: uppercase;
        font-size: 1.2rem;
      }

      p.parrafoGrid {
        color: #fff;
        font-size: 0.9rem;
        line-height: 1.1;
      }
    }

    .recuadro0 {
      bottom: 0;
      position: absolute;
      height: auto;
      overflow: hidden;
    }
  }

  #razones {
    .titSeccionRazones {
      text-align: center;
      margin: 2% 0;
    }

    .capaNumeros {
      text-align: center;

      .textCapa {
        font-size: 1rem;
        line-height: 1.1;
        margin-bottom: 10px;
      }
    }

    .fondoClarito {
      background-color: theme-color("azulClaroEstudios");
      color: theme-color("blanco");

      .numCapa {
        margin-top: 10px;
        font-size: 9rem;
        line-height: 1;
        font-weight: bold;
        text-align: center;
        color: theme-color("azulOscuroEstudios");
      }
    }

    .fondoOscuro {
      background-color: theme-color("azulOscuroEstudios");
      color: theme-color("blanco");

      .numCapa {
        margin-top: 10px;
        font-size: 9rem;
        line-height: 1;
        font-weight: bold;
        text-align: center;
        color: theme-color("azulClaroEstudios");
      }
    }

    .capa0 {
      .separadorSupUno {
        background-color: theme-color("naranjaEstudios");
        width: 15px;
        height: 50px;
        margin: 0 auto;
      }

      .separadorInfUno {
        background-color: theme-color("naranjaEstudios");
        width: 15px;
        height: 75px;
        margin: 0 auto;
      }
    }

    .capa1 {
      padding: 9% 0 0 0;
    }

    .capa2 {
      padding: 4% 0 0 0;
    }

    .capa3 {
      .separadorSupCuatro {
        background-color: theme-color("naranjaEstudios");
        width: 10px;
        height: 150px;
        margin: 0 auto;
      }

      .separadorInfCuatro {
        background-color: theme-color("naranjaEstudios");
        width: 10px;
        height: 40px;
        margin: 0 auto;
      }
    }

    .capa4 {
      padding: 4% 0 0 0;
    }

    .capa5 {
      .separadorSupSeis {
        background-color: theme-color("azulOscuroEstudios");
        width: 15px;
        height: 200px;
        margin: 0 auto;
      }
    }

    .capa6 {
      padding: 4% 0 0 0;

      .separadorInfSiete {
        background-color: theme-color("azulOscuroEstudios");
        width: 3px;
        height: 75px;
        margin: 0 auto;
      }
    }

    .capa7 {
      padding: 9% 0 0 0;
    }

    .capa8 {
      padding: 4% 0 0 0;

      .separadorInfNueve {
        background-color: theme-color("azulOscuroEstudios");
        width: 3px;
        height: 100px;
        margin: 0 auto;
      }
    }

    .capa9 {
      padding: 9% 0 0 0;

      .separadorInfDiez {
        background-color: theme-color("azulOscuroEstudios");
        width: 15px;
        height: 75px;
        margin: 0 auto;
      }
    }
  }

  #profesoresCont {
    .linkProfesores {
      &:hover {
        filter: drop-shadow(2px 4px 6px black);
        transform: scale(1.05);
        transition-duration: 500ms;
      }
    }

    .capaInfo {
      background-color: theme-color("negro");
      padding: 2%;
      height: 100%;

      .nombreProfesor {
        color: theme-color("naranjaEstudios");
        text-transform: uppercase;
        font-weight: bold;
      }

      .separadorLine {
        width: 95%;
        margin: 3% 0;
        height: 2px;
        background-color: theme-color("blanco");
      }

      .puestoProfesor {
        color: theme-color("blanco");
      }
    }
  }

  #gridAlumnos {
    background-color: theme-color("naranjaEstudios");

    .divImgAlumno {
      display: inline-flex;

      .capaImagen {
        display: table-cell;
        width: 50%;

        .imgAlumno {
          height: 100%;
          object-fit: cover;
        }
      }

      .capaTexto {
        width: 50%;
        display: table-cell;
        background-color: black;
        white-space: normal;
        color: #fff;
        padding: 2%;
        min-height: 320px;

        .nomAlumno {
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }
  }

  #formularioOficial {
    padding: 3% 0;

    .contFormulario {
      width: 100%;
      max-width: 1140px;
      margin: 0 auto;

      h3 {
        font-family: "sansationbold", serif;
        text-transform: uppercase;
      }

      hr.wp-block-separator {
        height: 3px;
        background: #0099db;
        background: -moz-linear-gradient(left, #0099db 0%, #202581 13%, #bc1a81 18%, #bc1a81 43%, #d0774a 54%, #d0774a 76%, #7e5799 82%, #0099db 98%, #0099db 100%);
        background: -webkit-linear-gradient(left, #0099db 0%, #202581 13%, #bc1a81 18%, #bc1a81 43%, #d0774a 54%, #d0774a 76%, #7e5799 82%, #0099db 98%, #0099db 100%);
        background: -o-linear-gradient(left, #0099db 0%, #202581 13%, #bc1a81 18%, #bc1a81 43%, #d0774a 54%, #d0774a 76%, #7e5799 82%, #0099db 98%, #0099db 100%);
        background: -ms-linear-gradient(left, #0099db 0%, #202581 13%, #bc1a81 18%, #bc1a81 43%, #d0774a 54%, #d0774a 76%, #7e5799 82%, #0099db 98%, #0099db 100%);
        background: linear-gradient(to right, #0099db 0%, #202581 13%, #bc1a81 18%, #bc1a81 43%, #d0774a 54%, #d0774a 76%, #7e5799 82%, #0099db 98%, #0099db 100%);
      }
    }
  }

  .col-xs-5,
  .col-sm-5,
  .col-md-5,
  .col-lg-5 {
    min-height: 1px;
    position: relative;
  }

  .col-md-5 {
    float: left;
    width: 20%;
    max-width: 20%;
    overflow: hidden;
  }

  @media (max-width: 768px) {
    #encabezadoHomeEstudios {
      .iconos-especificaciones {
        flex-wrap: wrap;

        .icono-duracion {
          width: 50%;
        }
      }
    }

    .col-md-5 {
      width: 50%;
      float: left;
      max-width: 50%;
    }

    #menu-estudios {
      display: block;
    }

    .hamburger-tres {
      color: #fff;
      text-transform: uppercase;
      display: flex;
    }
  }

  @media (min-width: 1200px) {
    .col-lg-5 {
      width: 20%;
      float: left;
    }
  }

  footer {
    background-color: theme-color("negro");
    padding: 1% 0 0 0;
    border-top: 4px solid theme-color("naranjaEstudios");
    margin-top: 2%;

    a {
      color: theme-color("naranjaEstudios");
      text-decoration: none;
      background-color: transparent;
    }

    .footerTres {
      .gform_footer {
        input[type="submit"] {
          color: theme-color("blanco");
          background-color: theme-color("naranjaEstudios");
          border-color: theme-color("naranjaEstudios");
          padding: 0.3rem 1rem;
          font-size: 1rem;
          line-height: 1;
          border: none;
          text-transform: uppercase;
          float: right;
        }
      }
    }

    .footerCuatro {
      .btnAccesoAlumnos {
        display: block;
        width: 60%;
        background-color: #fff;
        border-radius: 25px;
        text-align: center;
        margin: 10px auto;
        text-transform: uppercase;
        color: theme-color("naranjaEstudios");
        font-size: 0.8rem;
        padding: 4px;
        border: solid 2px theme-color("naranjaEstudios");
      }
    }
  }
}
