.template-legislacion {
  header {
    position: relative;
    background-color: theme-color("negro");
  }

  .headerFixed {
    position: fixed !important;
    top: 0;
    width: 100%;
    left: 0;
    background-color: theme-color("negro");
  }

  .page-header {
    margin-bottom: 3%;
    position: relative;
    min-height: 200px;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    color: theme-color("blanco");
    text-transform: uppercase;
  }

  .navEspecial {
    position: relative;
    width: 100%;
    z-index: 99;
    right: 0;
    background-color: theme-color("naranjaEstudios");
  }

  footer {
    background-color: theme-color("negro");
    padding: 1% 0 0 0;
    border-top: 4px solid theme-color("naranjaEstudios");
    margin-top: 2%;

    a {
      color: theme-color("naranjaEstudios");
      text-decoration: none;
      background-color: transparent;
    }

    .footerTres {
      .gform_footer {
        input[type="submit"] {
          color: theme-color("blanco");
          background-color: theme-color("naranjaEstudios");
          border-color: theme-color("naranjaEstudios");
          padding: 0.3rem 1rem;
          font-size: 1rem;
          line-height: 1;
          border: none;
          text-transform: uppercase;
          float: right;
        }
      }
    }

    .footerCuatro {
      .btnAccesoAlumnos {
        display: block;
        width: 60%;
        background-color: #fff;
        border-radius: 25px;
        text-align: center;
        margin: 10px auto;
        text-transform: uppercase;
        color: theme-color("naranjaEstudios");
        font-size: 0.8rem;
        padding: 4px;
        border: solid 2px theme-color("naranjaEstudios");
      }
    }
  }
}
