.template-planestudios {
  header {
    position: relative;
    background-color: theme-color("negro");
  }

  .headerFixed {
    position: fixed !important;
    top: 0;
    width: 100%;
    left: 0;
    background-color: theme-color("negro");
  }

  .page-header {
    margin-bottom: 3%;
    position: relative;
    min-height: 200px;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    color: theme-color("blanco");
    text-transform: uppercase;
  }

  .navEspecial {
    position: relative;
    width: 100%;
    z-index: 99;
    right: 0;
    background-color: theme-color("naranjaEstudios");
  }

  .tituloSeccionEsquema {
    text-transform: uppercase;
  }

  .capaSupTitulo {
    background-color: theme-color("naranjaEstudios");
    padding: 5%;
    color: theme-color("blanco");

    .tituloPlanEstudios {
      font-size: 3rem;
      text-align: center;
      line-height: 1.1;
      color: theme-color("negro");
      text-transform: uppercase;
    }

    .subTituloPlanEstudios {
      font-size: 1.3rem;
      text-align: center;
      color: theme-color("blanco");
    }
  }

  .capaAzulOscura {
    background-color: theme-color("azulOscuroEstudios");
    padding: 6%;
    margin-bottom: 2%;
    min-height: 375px;

    .encabezado {
      font-size: 1.3rem;
      font-weight: bold;
      line-height: 1.1;
      color: theme-color("blanco");
      text-align: center;
      margin-bottom: 5%;
    }

    p {
      line-height: 1.1;
      color: theme-color("blanco");
      font-size: 1rem;
    }
  }

  .capaAzulClara {
    background-color: theme-color("azulClaroEstudios");
    padding: 3%;
    margin-bottom: 2%;
    font-weight: bold;
    text-align: center;
    color: theme-color("azulOscuroEstudios");
  }

  .capAmarilla {
    width: 100%;
    background-color: yellow;
    margin-bottom: 1%;
    color: theme-color("negro");
    text-align: center;
    padding: 1%;
    font-weight: bold;
  }

  .capaNaranja {
    color: theme-color("blanco");
    background-color: theme-color("naranjaEstudios");
    font-weight: bold;
    text-align: center;
    margin-bottom: 2%;
    padding: 3%;
  }

  .listadoHorizontal {
    li {
      font-size: 0.9rem;
      text-align: left;
    }
  }

  .leyendaColores {
    display: inline-flex;

    .asignaturasOficiales {
      width: 20px;
      height: 20px;
      background-color: theme-color("azulClaroEstudios");
      margin-right: 5px;
    }

    .asignaturasPropias {
      width: 20px;
      height: 20px;
      background-color: theme-color("naranjaEstudios");
      margin-right: 5px;
      margin-left: 20px;
    }
  }

  footer {
    background-color: theme-color("negro");
    padding: 1% 0 0 0;
    border-top: 4px solid theme-color("naranjaEstudios");
    margin-top: 2%;

    a {
      color: theme-color("naranjaEstudios");
      text-decoration: none;
      background-color: transparent;
    }

    .footerTres {
      .gform_footer {
        input[type="submit"] {
          color: theme-color("blanco");
          background-color: theme-color("naranjaEstudios");
          border-color: theme-color("naranjaEstudios");
          padding: 0.3rem 1rem;
          font-size: 1rem;
          line-height: 1;
          border: none;
          text-transform: uppercase;
          float: right;
        }
      }
    }

    .footerCuatro {
      .btnAccesoAlumnos {
        display: block;
        width: 60%;
        background-color: #fff;
        border-radius: 25px;
        text-align: center;
        margin: 10px auto;
        text-transform: uppercase;
        color: theme-color("naranjaEstudios");
        font-size: 0.8rem;
        padding: 4px;
        border: solid 2px theme-color("naranjaEstudios");
      }
    }
  }
}
