.template-postgrado {
  .page-header {
    min-height: 250px;
    color: #fff;
    background-size: cover;
    background-position: bottom;
    display: grid;
    align-items: center;
    text-align: center;
  }

  h1 {
    font-size: 2.2rem;
    text-transform: uppercase;
  }

  p {
    font-size: 1.3rem;
  }

  .advgb-accordion-header-title {
    font-size: 3.5rem !important;
    text-align: center;
    line-height: 1.1 !important;
    font-weight: bold;
    background: rgba(0, 153, 219, 1);
    background: -moz-linear-gradient(left, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
    background: -o-linear-gradient(left, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
    background: -ms-linear-gradient(left, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
    background: linear-gradient(to right, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .colTexto {
    p {
      font-size: 1rem;
    }
  }

  hr.wp-block-separator {
    height: 3px;
    background: rgba(0, 153, 219, 1);
    background: -moz-linear-gradient(left, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
    background: -o-linear-gradient(left, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
    background: -ms-linear-gradient(left, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
    background: linear-gradient(to right, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
  }

  .textDegradado {
    background: rgba(0, 153, 219, 1);
    background: -moz-linear-gradient(left, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
    background: -o-linear-gradient(left, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
    background: -ms-linear-gradient(left, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
    background: linear-gradient(to right, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .numerosEstilo {
    .numGrande {
      font-size: 7rem;
      font-weight: bold;
      line-height: 1;
    }

    .textoNumeros {
      font-size: 0.875rem;
    }
  }

  .coltexto {
    p {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      font-size: 2rem !important;
      line-height: 1;
      font-weight: bold;
      background: rgba(0, 153, 219, 1);
      background: -moz-linear-gradient(left, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
      background: -webkit-linear-gradient(left, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
      background: -o-linear-gradient(left, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
      background: -ms-linear-gradient(left, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
      background: linear-gradient(to right, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .banner {
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 9999;
  }

  .headerFixed {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
