.template-practicas {
  i {
    margin-right: 0.5rem;
  }

  header {
    background-color: theme-color("negro");
    position: relative;
  }

  .headerFixed {
    background-color: theme-color("negro");
    left: 0;
    position: sticky !important;
    top: 0;
    width: 100%;
  }

  .page-header {
    align-content: center;
    align-items: center;
    color: theme-color("blanco");
    display: flex;
    margin-bottom: 0;
    min-height: 200px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
  }

  .seccion-superior {
    background-color: rgb(208, 208, 208);
    border-bottom: solid 1px #3d3d3d;

    .cont-departamentos {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      max-width: 1200px;
      width: 95%;
      justify-content: end;

      .acceso-departamento {
        .btn-acceso {
          background-color: rgb(179, 179, 179);
          border-radius: 0;
          margin: 0 2px;
          border-left: solid 1px #3d3d3d;
          border-right: solid 1px #3d3d3d;

          &:hover {
            background-color: #000;
            color: #fff;
          }
        }
      }
    }
  }

  #proyectos-formativo {
    display: block;
    padding: 3% 0;
    border-bottom: 1px solid #3d3d3d;

    .tit-proyectos {
      text-align: center;
      font-size: calc(1rem + 0.6vw);
    }

    .cont-proyectos {
      max-width: 1400px;
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .cont-año {
        width: 40%;

        .curso {
          font-size: calc(1rem + 0.4vw);
          text-transform: uppercase;
          width: 100%;
          text-align: center;
          font-family: "sansationbold", serif;
        }

        .item-proyectos {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;

          .item-proyecto {
            width: 100%;
            padding: 1%;

            a.enlace-item {
              color: #3d3d3d;
              margin: 1% auto;
              line-height: 1.1;
              border-bottom: 2px solid #3d3d3d;
              padding: 2% 0;
              width: 100%;
              display: block;

              &:hover {
                color: #bc1a80;
                border-bottom: 2px solid #bc1a80;
              }
            }
          }
        }
      }
    }
  }

  .documentos {
    width: 100%;
    padding: 2% 0;
    border-bottom: 1px solid #3d3d3d;
    background-color: #eae9e9;

    .cont-impresos {
      display: flex;
      flex-direction: row;
      max-width: 1400px;
      margin: 0 auto;

      .seccion-seguros {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 40%;
        padding: 3% 0;

        .titulo-impresos {
          text-transform: uppercase;
          font-size: calc(1em + 0.6vw);
          margin-bottom: 4%;
        }

        a {
          color: #3d3d3d;
          margin: 1% auto;
          line-height: 1.1;
          border-bottom: 2px solid #3d3d3d;
          padding: 2% 0;
          width: 100%;
          display: flex;
          align-items: center;

          &:hover {
            color: #bc1a80;
            border-bottom: 2px solid #bc1a80;
          }
        }
      }
    }
  }

  .btn-generico {
    background-color: #000;
    border: solid 2px #d00a7e;
    border-radius: 25px;
    color: #fff;
    display: block;
    font-size: 0.8rem;
    margin: 4px;
    padding: 1% 2%;
    text-align: center;
    text-transform: uppercase;
    width: fit-content;
  }

  #listado-empresas {
    padding: 2% 0;

    .titulo-listado-empresas {
      text-align: center;
    }

    .cont-empresas {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 1400px;
      width: 100%;
      margin: 2% auto;
      justify-content: center;

      .cont-empresa {
        border: solid 1px #cbcaca;
        width: calc(90% / 7);
        padding: 0;
        margin: 1%;
        background-color: #cbcaca;

        .logo-empresa {
          width: 90%;
          margin: 0 auto;
          padding: 2%;
        }

        .txt-empresa {
          margin-top: 5%;
          font-size: calc(0.6em + 0.5vw);
          font-weight: 100;
          text-align: center;
          background-color: #cbcaca;
          color: #000;
        }

        &:hover {
          transform: scale(1.1);
          border: #bc1a80 solid 1px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    #proyectos-formativo {
      .cont-proyectos {
        flex-direction: column;
        width: 100%;

        .cont-año {
          width: 90%;
          margin: 2% auto;

          .item-proyectos {
            flex-direction: column;

            .item-proyecto {
              width: 100%;
              padding: 1%;
              text-align: center;
            }
          }
        }
      }
    }

    .documentos {
      width: 100%;
      padding: 2% 0;

      .cont-impresos {
        flex-direction: column;

        .seccion-seguros {
          display: flex;
          flex-direction: column;
          margin: 0 auto;
          width: 90%;
          padding: 3% 0;
        }
      }
    }

    #listado-empresas {
      .cont-empresas {
        .cont-empresa {
          width: calc(90% / 3);

          .logo-empresa {
            width: 100%;
          }

          .txt-empresa {
            h2 {
              font-size: calc(1em + 0.5vw);
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}
