.template-pregrado {
  @import "../layouts/pregrado/headerPregrado";
  @import "../layouts/pregrado/infopracticaPregrado";
  @import "../layouts/pregrado/programaPregrado";

  h1 {
    text-transform: uppercase;
  }

  h2 {
    font-size: 36px;
    margin: 0 0 10px 0;
  }

  h3 {
    text-transform: uppercase;
  }

  hr.wp-block-separator {
    height: 3px;
    background: rgba(0, 153, 219, 1);
    background: -moz-linear-gradient(left, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
    background: -o-linear-gradient(left, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
    background: -ms-linear-gradient(left, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
    background: linear-gradient(to right, rgba(0, 153, 219, 1) 0%, rgba(32, 37, 129, 1) 13%, rgba(188, 26, 129, 1) 18%, rgba(188, 26, 129, 1) 43%, rgba(208, 119, 74, 1) 54%, rgba(208, 119, 74, 1) 76%, rgba(126, 87, 153, 1) 82%, rgba(0, 153, 219, 1) 98%, rgba(0, 153, 219, 1) 100%);
  }

  .btnDescargaDossier {
    padding: 10px 2px;
    background-color: #000;
    border-radius: 25px;
    text-align: center;
    margin: 4px;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.8rem;
    border: solid 2px #d00a7e;
  }

  p {
    margin: 0 0 10px 0;
  }

  .horarioClase {
    margin: 2% auto;
  }

  .fichaProf {
    position: relative;

    .linkFichaProf {
      color: theme-color("azul");

      .imgProfe {
        border: solid 2px theme-color("azul");

        &:hover {
          filter: blur(1px);
        }
      }

      .titProf {
        font-size: 1.2rem;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 1% 6%;
      }
    }
  }

  .tablaTitulos {
    display: inline-table;
    width: 100%;

    .titulosHorario {
      width: 30%;
      display: table-cell;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      color: #fff;
      border: solid 1px #fff;
      margin: 4px;
      font-size: 1.1rem;
      background-color: #d00a7e;
    }
  }

  .tablaHorarios {
    display: inline-table;
    width: 100%;
    font-size: 0.9rem;
    text-transform: uppercase;

    .columnaDia {
      display: table-cell;
      width: 20%;

      .diaSemana {
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        border: solid 1px #000;
        margin: 4px;
        padding: 2%;
      }

      .claseHora {
        &:nth-of-type(1) {
          padding: 2%;
          color: #009adb;
          margin: 4px;
          border: solid 1px #009adb;
        }

        &:nth-of-type(2n+1) {
          padding: 2%;
          color: #d0764a;
          margin: 4px;
          border: solid 1px #d0764a;
        }

        &:nth-of-type(2n) {
          padding: 2%;
          color: #009adb;
          margin: 4px;
          border: solid 1px #009adb;
        }
      }
    }
  }

  @media (max-width: 992px) {
    .tablaTitulos {
      display: inline-table;
      width: 100%;

      .titulosHorario {
        width: 50%;
        display: table-cell;
      }
    }

    .tablaHorarios {
      display: inline-table;
      width: 100%;

      .columnaDia {
        display: inline-table;
        width: 50%;

        .diaSemana {
          font-weight: bold;
        }

        .claseHora {
          &:nth-of-type(1) {
            padding: 1%;
          }

          &:nth-of-type(2n+1) {
            padding: 1%;
          }

          &:nth-of-type(2n) {
            padding: 1%;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    h3 {
      font-size: 1.5rem;
    }

    .tablaTitulos {
      display: inline-table;
      width: 100%;

      .titulosHorario {
        width: 100%;
        display: block;
      }
    }

    .tablaHorarios {
      display: block;
      width: 100%;

      .columnaDia {
        display: block;
        width: 100%;

        .diaSemana {
          font-weight: bold;
        }
      }
    }
  }
}
