.template-profesores {
  background-color: white;

  .page-header {
    min-height: 270px;
    color: #fff;
    background-size: cover;
    background-position: bottom;
    display: grid;
    align-items: center;
    text-align: center;
  }

  h1 {
    font-size: 2.2rem;
    text-transform: uppercase;
  }

  .itemTaller {
    border-color: #000;

    .titProf {
      font-size: 1.2rem;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 1% 6%;
    }
  }

  .fondoRosas {
    background-color: theme-color("primary");
    color: #fff;
  }

  @media (max-width: 768px) {
    .botonesFiltro {
      display: inline-block;

      button {
        float: left;
        width: 49%;
        min-height: 65px;
      }
    }
  }
}
