.single-profesor {
  .page-header {
    min-height: 250px;
    color: #fff;
    background-size: cover;
    background-position: bottom;
    display: grid;
    align-items: center;
    text-align: center;
  }

  h1 {
    font-size: 2.2rem;
    text-transform: uppercase;
  }

  h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    font-family: "sansationbold", serif;
    margin-bottom: 0;
    line-height: 1;
  }

  .txtContenido {
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 0.75rem 0;
  }

  .cargoProfesores {
    font-size: 1.5rem;
    color: theme-color("primary");
    text-transform: uppercase;
  }

  .volver {
    color: theme-color("primary");

    &:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }
}
