.single-taller {
  .page-header {
    min-height: 250px;
    color: #fff;
    background-size: cover;
    background-position: bottom;
    display: grid;
    align-items: center;
    text-align: center;
  }

  h1 {
    font-size: 2.2rem;
    text-transform: uppercase;
  }

  h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    font-family: "sansationbold", serif;
    margin-bottom: 0;
    line-height: 1;
  }

  .txtContenido {
    margin-bottom: 10px;
  }

  .btndifCompras {
    background-color: theme-color("negro");
    border-radius: 25px;
    text-align: center;
    margin: 4px;
    text-transform: uppercase;
    color: theme-color("blanco");
    font-size: 0.8rem;
    padding: 4px 20px;
    border: solid 2px theme-color("primary");
    display: inline;
  }

  p {
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 0.75rem 0;
  }

  @media (max-width: 768px) {
    .btndifCompras {
      display: block;
    }
  }
}
