.template-talleres {
  .page-header {
    min-height: 250px;
    color: #fff;
    background-size: cover;
    background-position: bottom;
    display: grid;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
  }

  h1 {
    text-transform: uppercase;
  }

  a.itemTaller {
    border: 2px solid #d00a7e;
    border-radius: 0 25px 0 25px;
    padding: 0;
    margin: 1.5rem;
    overflow: hidden;
    color: theme-color("negro");

    .row {
      height: 100%;
    }

    .imgItemTaller {
      img {
        object-fit: cover;
        height: 100%;
      }
    }

    .txtItemTaller {
      padding: 1.5rem 1.5rem 1.5rem 0.5rem;

      h2 {
        text-transform: uppercase;
        font-size: 1.3rem;
      }
    }

    .btnVermas {
      color: theme-color("secondary");
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: bold;
    }

    &:hover {
      background-color: #f1f1f1;
    }
  }

  #bandaMusicales {
    margin-top: 0;
    padding: 2% 0;
    background-size: cover;
    width: 100%;

    @media (min-width: 992px) {
      .col-lg-1 {
        min-width: 13.33333% !important;
        flex: 0 0 13.33333% !important;
        max-width: 13.33333% !important;
      }
    }

    .txtDestacadoHome {
      text-align: center;
      font-size: 1.6rem;
    }
  }

  @media (max-width: 540px) {
    a.itemTaller {
      .txtItemTaller {
        padding: 1.5rem;
      }
    }
  }
}
