.template-tallerescompleto {
  .page-header {
    min-height: 250px;
    color: #fff;
    background-size: cover;
    background-position: bottom;
    display: grid;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
  }

  h1 {
    text-transform: uppercase;
  }

  h2 {
    text-align: center;
    margin-top: 3%;
  }

  .botonesSup {
    .btndifCompras {
      background-color: #d00a7e;
      border-radius: 0;
      text-align: center;
      margin: 4px;
      text-transform: uppercase;
      color: #fff;
      font-size: 1rem;
      line-height: 1.2;
      padding: 4px;
      border: solid 2px #d00a7e;
      display: block;
    }
  }

  .itemTaller,
  .itemTallerjunior {
    border: 2px solid #d00a7e;
    border-radius: 0 25px 0 25px;
    padding: 0;
    margin: 1.5rem;
    overflow: hidden;
    color: theme-color("negro");

    .row {
      height: 100%;
    }

    .imgItemTaller {
      img {
        object-fit: cover;
        height: 100%;
      }
    }

    .txtItemTaller {
      padding: 1.5rem 1.5rem 1.5rem 0.5rem;

      h2 {
        text-transform: uppercase;
        font-size: 1.3rem;
      }
    }

    .btndifCompras {
      background-color: #000;
      border-radius: 25px;
      text-align: center;
      margin: 4px;
      text-transform: uppercase;
      color: #fff;
      font-size: 0.8rem;
      padding: 4px 20px;
      border: solid 2px #d00a7e;
      display: block;
    }

    .btnVermas {
      background-color: #fff;
      border-radius: 25px;
      text-align: center;
      margin: 4px;
      text-transform: uppercase;
      color: #000;
      font-size: 0.8rem;
      padding: 4px 20px;
      border: solid 2px #d00a7e;
      display: block;

      &:hover {
        background-color: #f1f1f1;
      }
    }
  }
}
