.page-template-template-encuentro {
  .page-header {
    min-height: 250px;
    color: #fff;
    background-size: cover;
    background-position: bottom;
    display: grid;
    align-items: center;
    text-align: center;
  }

  h1 {
    font-size: 2.2rem;
    text-transform: uppercase;
  }

  p {
    font-size: 1.3rem;
  }

  .titulo-fecha {
    max-width: 1400px;
    margin: 3% auto 0;

    h2.titSeccion {
      font-weight: bold;
      font-size: calc(2em + 2vw);
    }
  }

  .menu-nav {
    max-width: 1400px;
    margin: 0 auto;

    .nav-tabs {
      display: flex;
      flex-direction: row;
      align-items: end;

      .nav-item {
        .nav-link {
          color: #495057;
          background-color: #fff;
          border-color: #dee2e6 #dee2e6 #fff;
          outline: none;

          &.active {
            background-color: #d00a7d;
            color: #fff;
            font-weight: bold;
            font-size: calc(1em + 0.5vw);
          }

          &.show {
            .nav-link {
              color: #495057;
              background-color: #fff;
              border-color: #dee2e6 #dee2e6 #fff;
            }
          }
        }
      }
    }
  }

  .contenedor-encuentros {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;

    .fila-encuentro {
      display: flex;
      position: relative;
      overflow: hidden;
      flex-direction: row;
      margin: 1% auto;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #d00a7e;

      .img-encuentro {
        width: 30%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .txt-encuentro {
        width: 60%;
        padding: 0 5%;

        h2 {
          font-size: calc(1em + 0.5vw);
          text-transform: uppercase;
          line-height: 1;
        }

        .desc-encuentro {
          background-color: white;
        }
      }

      &:nth-child(odd) {
        .img-encuentro {
          order: 0;
        }

        .txt-encuentro {
          order: 1;
        }
      }

      &:nth-child(even) {
        .img-encuentro {
          order: 1;
        }

        .txt-encuentro {
          order: 0;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .contenedor-encuentros {
      display: flex;
      flex-direction: column;
      max-width: 1400px;
      margin: 0 auto;

      .fila-encuentro {
        display: flex;
        flex-direction: column;
        margin: 2% auto;
        justify-content: center;
        align-items: center;

        .img-encuentro {
          width: 90%;
          margin-bottom: 3%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .txt-encuentro {
          width: 90%;

          .desc-encuentro {
            background-color: white;
          }
        }

        &:nth-child(odd) {
          .img-encuentro {
            order: 0;
          }

          .txt-encuentro {
            order: 1;
          }
        }

        &:nth-child(even) {
          .img-encuentro {
            order: 0;
          }

          .txt-encuentro {
            order: 1;
          }
        }
      }
    }
  }
}
