.page-template-template-estudiante {
  i {
    margin-right: 0.5rem;
  }

  header {
    position: relative;
    background-color: theme-color("negro");
  }

  .headerFixed {
    position: sticky !important;
    top: 0;
    width: 100%;
    left: 0;
    background-color: theme-color("negro");
  }

  .page-header {
    margin-bottom: 0;
    position: relative;
    min-height: 200px;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    color: theme-color("blanco");
    text-transform: uppercase;
  }

  h1 {
    font-size: 2.2rem;
    text-transform: uppercase;
  }

  .btn-generico {
    background-color: #000;
    border: solid 2px #d00a7e;
    border-radius: 25px;
    color: #fff;
    display: block;
    font-size: 0.8rem;
    margin: 4px;
    padding: 1% 2%;
    text-align: center;
    text-transform: uppercase;
    width: fit-content;
  }

  .contendor-perfil {
    display: flex;
    flex-direction: row;

    .menu {
      width: 20%;

      .nav {
        margin-bottom: 3%;

        .nav-link {
          background-color: rgb(179, 179, 179);
          border-radius: 0;
          margin: 3px 0;
          border-bottom: solid 1px #3d3d3d;
          border-top: solid 1px #3d3d3d;
          color: #000;

          &:hover {
            background-color: #000;
            color: #fff;
          }
        }

        .active {
          background-color: #000;
          border-radius: 0;
          margin: 3px 0;
          border-bottom: solid 1px #3d3d3d;
          border-top: solid 1px #3d3d3d;
          color: #fff;

          &:hover {
            background-color: #000;
            color: #fff;
          }
        }
      }
    }

    .contenido {
      width: 80%;
      padding: 3%;
      border-left: 1px solid #3d3d3d;

      #listado-empresas {
        .titulo-listado-empresas {
          font-size: calc(1em + 1vw);
        }

        .contenedor-practicas {
          .lista-empresa {
            padding: 3% 0;

            .txt-empresa {
              display: block;
            }

            .n-empresa {
              display: block;
              font-size: calc(1em + 0.3vw);
            }

            .listado-practica {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              color: rgb(0, 0, 0);
              margin-bottom: 3%;

              .item-practica {
                width: calc(99% / 6);
                border: solid 1px rgb(193, 192, 192);
                margin: 1px;
                padding: 10px;

                strong {
                  display: block;
                  font-size: calc(0.5em + 0.3vw);
                  font-weight: 700;
                }
              }

              .nom-practica {
                display: block;
                width: 69%;
                font-size: calc(1em + 0.2vw);
              }

              .descripcion-practica {
                width: 100%;
              }

              .num-vacantes {
                display: block;
                width: 10%;
              }

              .practica-asignada {
                width: 20%;
              }

              .f-inicio {
                display: block;
              }

              .f-final {
                display: block;
              }

              .f-horario {
                display: block;
                width: 99%;
              }

              .num-horas {
                display: block;
              }

              .dias-semana {
                display: block;
              }

              .dracion-meses {
                display: block;
              }

              .localidad {
                display: block;
                width: calc(99% / 2);
              }
            }

            .asignada {
              color: grey;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .contendor-perfil {
      flex-direction: column;

      .menu {
        width: 100%;

        .nav {
          margin-bottom: 1%;
          flex-direction: row !important;

          .nav-link {
            width: calc(100% / 3);
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: calc(0.5em + 1vw);
            border: solid 1px #3d3d3d;

            &:hover {
              background-color: #000;
              color: #fff;
            }
          }
        }
      }

      .contenido {
        width: 100%;
        padding: 3%;
        border-left: none;

        .tab-content {
          .cont-formulario {
            width: 100%;
            max-width: 1300px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
