@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

@keyframes animarBotoom {
  0% {
    background: -moz-linear-gradient(bottom, rgb(208, 119, 74) 0%, rgb(162, 103, 74) 30%, rgb(162, 103, 74) 60%, rgb(208, 119, 74) 100%);
    background: -webkit-linear-gradient(bottom, rgb(208, 119, 74) 0%, rgb(162, 103, 74) 30%, rgb(162, 103, 74) 60%, rgb(208, 119, 74) 100%);
    background: -o-linear-gradient(bottom, rgb(208, 119, 74) 0%, rgb(162, 103, 74) 30%, rgb(162, 103, 74) 60%, rgb(208, 119, 74) 100%);
    background: -ms-linear-gradient(bottom, rgb(208, 119, 74) 0%, rgb(162, 103, 74) 30%, rgb(162, 103, 74) 60%, rgb(208, 119, 74) 100%);
    background: linear-gradient(to bottom, rgb(208, 119, 74) 0%, rgb(162, 103, 74) 30%, rgb(162, 103, 74) 60%, rgb(208, 119, 74) 100%);
    box-shadow: 0 0 1px #fff;
  }

  50% {
    background: -moz-linear-gradient(bottom, rgb(162, 103, 74) 0%, rgb(162, 103, 74) 30%, rgb(208, 119, 74) 60%, rgb(208, 119, 74) 100%);
    background: -webkit-linear-gradient(bottom, rgb(162, 103, 74) 0%, rgb(162, 103, 74) 30%, rgb(208, 119, 74) 60%, rgb(208, 119, 74) 100%);
    background: -o-linear-gradient(bottom, rgb(162, 103, 74) 0%, rgb(162, 103, 74) 30%, rgb(208, 119, 74) 60%, rgb(208, 119, 74) 100%);
    background: -ms-linear-gradient(bottom, rgb(162, 103, 74) 0%, rgb(162, 103, 74) 30%, rgb(208, 119, 74) 60%, rgb(208, 119, 74) 100%);
    background: linear-gradient(to bottom, rgb(162, 103, 74) 0%, rgb(162, 103, 74) 30%, rgb(208, 119, 74) 60%, rgb(208, 119, 74) 100%);
    box-shadow: 0 0 3px #fff;
  }

  75% {
    background: -moz-linear-gradient(bottom, rgb(208, 119, 74) 0%, rgb(208, 119, 74) 30%, rgb(162, 103, 74) 60%, rgb(162, 103, 74) 100%);
    background: -webkit-linear-gradient(bottom, rgb(208, 119, 74) 0%, rgba(208, 119, 74, 1) 30%, rgb(162, 103, 74) 60%, rgb(162, 103, 74) 100%);
    background: -o-linear-gradient(bottom, rgb(208, 119, 74) 0%, rgba(208, 119, 74, 1) 30%, rgb(162, 103, 74) 60%, rgb(162, 103, 74) 100%);
    background: -ms-linear-gradient(bottom, rgb(208, 119, 74) 0%, rgba(208, 119, 74, 1) 30%, rgb(162, 103, 74) 60%, rgb(162, 103, 74) 100%);
    background: linear-gradient(to bottom, rgb(208, 119, 74) 0%, rgb(208, 119, 74) 30%, rgb(162, 103, 74) 60%, rgb(162, 103, 74) 100%);
    box-shadow: 0 0 6px #fff;
  }

  100% {
    background: -moz-linear-gradient(bottom, rgb(162, 103, 74) 0%, rgb(208, 119, 74) 30%, rgba(208, 119, 74, 1) 60%, rgb(162, 103, 74) 100%);
    background: -webkit-linear-gradient(bottom, rgb(162, 103, 74) 0%, rgba(208, 119, 74, 1) 30%, rgba(208, 119, 74, 1) 60%, rgb(162, 103, 74) 100%);
    background: -o-linear-gradient(bottom, rgb(162, 103, 74) 0%, rgba(208, 119, 74, 1) 30%, rgba(208, 119, 74, 1) 60%, rgb(162, 103, 74) 100%);
    background: -ms-linear-gradient(bottom, rgb(162, 103, 74) 0%, rgba(208, 119, 74, 1) 30%, rgba(208, 119, 74, 1) 60%, rgb(162, 103, 74) 100%);
    background: linear-gradient(to bottom, rgb(162, 103, 74) 0%, rgba(208, 119, 74, 1) 30%, rgb(208, 119, 74) 60%, rgb(162, 103, 74) 100%);
    box-shadow: 0 0 1px #fff;
  }
}

html,
body {
  overflow-x: hidden;
  font-family: "sansationregular", serif;
}

.container-fluid {
  padding: 0;
}

h1 {
  font-family: "sansationbold", serif;
}

.page-header {
  margin-bottom: 3%;
  position: relative;

  h1 {
    z-index: 99;
    position: sticky;
  }

  h2.subtituloHeader {
    z-index: 99;
    position: sticky;
    text-transform: uppercase;
  }

  .capaTransparencia {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

h2 {
  font-family: "sansationbold", serif;
}

h3 {
  font-family: "sansationbold", serif;
}

@media (max-width: 992px) {
  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.9rem;
  }
}

.lg-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.sinPadding {
  padding: 0;
}

a {
  color: theme-color("rosa");

  &:hover {
    text-decoration: none;
  }
}

p {
  font-size: 1.3rem;
}

main {
  ul {
    font-size: 1.3rem;
  }

  .gfield {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  main {
    .gfield {
      font-size: 0.6rem;
    }
  }
}

.form-control {
  background-color: transparent !important;
  border-radius: 0 !important;
  border: solid 2px theme-color("azul");

  &::placeholder {
    color: theme-color("azul");
    text-transform: uppercase;
    font-weight: 100;
  }
}

.gform_body {
  ul li.gfield {
    margin-top: 0;
    padding-top: 0;
  }

  input[type="text"] {
    background-color: transparent !important;
    border-radius: 0 !important;
    border: solid 2px theme-color("azul");

    &::placeholder {
      color: theme-color("azul");
      text-transform: uppercase;
      font-weight: 100;
    }
  }

  select {
    padding: 2px 0 2px 3px;
    background-color: transparent !important;
    border-radius: 0 !important;
    border: solid 2px #009adb;
    color: theme-color("azul");
    margin-top: 12px;
    text-transform: uppercase;
    height: 38px;

    &::placeholder {
      color: theme-color("azul");
      text-transform: uppercase;
      font-weight: 100;
    }
  }

  textarea {
    background-color: transparent !important;
    border-radius: 0 !important;
    border: solid 2px theme-color("azul");

    &::placeholder {
      color: theme-color("azul");
      text-transform: uppercase;
      font-weight: 100;
    }
  }

  .gfield_checkbox,
  .gfield_radio {
    label {
      font-size: 1.2rem;
    }

    input[type="radio"],
    input[type="checkbox"] {
      margin-top: 0 !important;
    }
  }
}

.gform_footer {
  input[type="submit"] {
    color: #fff;
    background-color: #d00a7e;
    border-color: #d00a7e;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    text-transform: uppercase;
  }
}

.oculto {
  display: none;
}

.visible {
  display: block;
}

.btnRegistro {
  animation: animarBotoom 5s infinite;
  background: rgba(0, 153, 219, 1);
  margin: 10px;
  padding: 1px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 100% auto;
  color: white;
  border-radius: 50px;
  display: block;
  border: solid 1px #d0774a;

  &:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
}

.btnAncla {
  text-align: center;
  position: fixed;
  right: 0;
  top: 15vh;
  width: 170px;
  padding: 1% 0 0 0;
  background-color: theme-color("blanco");
  z-index: 999;
  border: solid 1px theme-color("rosa");

  .btnAbrir {
    text-transform: uppercase;
    border: solid 1px theme-color("secondary");
    padding: 2% 4%;
    position: absolute;
    left: -88px;
    top: 54px;
    background-color: theme-color("secondary");
    color: theme-color("blanco");
    transform: rotate(270deg);

    &:hover {
      cursor: pointer;
    }
  }

  .enlacePrincipal {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "sansationbold", serif;
    text-transform: uppercase;

    .txtUno {
      font-size: 1.1rem;
      display: block;
      line-height: 1;
      color: #d00a7e;
    }

    .txtDos {
      font-size: 1.9rem;
      display: block;
      line-height: 1;
      color: #009adb;
    }

    .txtTres {
      font-size: 0.75rem;
      display: block;
      line-height: 1;
      color: #d00a7e;
    }

    .txtCuatro {
      font-size: 1.7rem;
      display: block;
      line-height: 1;
      color: #009adb;
    }

    .txtSubCuatro {
      font-size: 1.1rem;
      display: block;
      line-height: 1;
      text-transform: none;
      color: theme-color("naranja");
    }

    .txtCinco {
      font-size: 1.2rem;
      display: block;
      line-height: 1;
      background-color: #009adb;
      padding: 5% 0;
      margin-top: 4%;
    }
  }
}

@media (max-width: 992px) {
  .btnAncla {
    top: 15vh;
    width: 130px;

    .btnAbrir {
      left: -85px;

      &:hover {
        cursor: pointer;
      }
    }

    .enlacePrincipal {
      .txtUno {
        font-size: 1.2rem;
      }

      .txtDos {
        font-size: 1.4rem;
      }

      .txtTres {
        font-size: 0.55rem;
      }

      .txtCuatro {
        font-size: 1.2rem;
      }

      .txtCinco {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .btnAncla {
    bottom: 15vh;
    top: initial;
    width: 90px;

    .btnAbrir {
      left: -83px;

      &:hover {
        cursor: pointer;
      }
    }

    .enlacePrincipal {
      .txtUno {
        font-size: 1rem;
      }

      .txtDos {
        font-size: 1.2rem;
      }

      .txtTres {
        font-size: 0.45rem;
      }

      .txtCuatro {
        font-size: 1rem;
      }

      .txtCinco {
        font-size: 0.8rem;
      }
    }
  }
}

.formularioFlotante {
  position: fixed;
  top: 30%;
  right: 0;
  width: 300px;
  background-color: #fff;
  padding: 1%;
  z-index: 9999;

  .btnformularioFlotante {
    text-transform: uppercase;
    border: solid 1px orange;
    color: orange;
    padding: 10px 5px;
    text-align: center;
    position: absolute;
    left: -36px;
    top: 0;
    background-color: #fff;
    transform: rotate(180deg);
    cursor: pointer;
    writing-mode: vertical-lr;
    height: max-content;
  }

  .gform_body {
    label {
      display: inline-block;
      margin-bottom: 0;
      font-size: 0.6rem;
      width: 84%;
      margin-left: 2px;
      margin-top: -15px;

      a {
        color: red;
      }
    }
  }

  .gform_wrapper {
    .gform_footer {
      input[type="submit"] {
        color: #fff;
        background-color: #e18a3a;
        border-color: #e18a3a;
        padding: 0;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0;
        text-transform: uppercase;
        width: 100%;
      }
    }

    .gfield_required {
      color: #c02b0a;
      display: inline-block;
      font-size: 13.008px;
      margin-left: -10px;
    }
  }
}

@media (max-width: 768px) {
  .formularioFlotante {
    top: initial;
    bottom: 0;
    right: initial;
    width: 100%;
    z-index: 99;

    .btnformularioFlotante {
      display: block;
      left: 0;
      top: -30px;
    }

    footer {
      padding-bottom: 150px;
    }

    .formularioFlotante {
      .gform_wrapper {
        .gfield_required {
          margin-left: 0;
        }
      }
    }
  }
}

.btn-descarga {
  color: #3d3d3d;
  margin: 1% auto;
  line-height: 1.1;
  border-bottom: 2px solid #3d3d3d;
  padding: 2% 0;
  width: 100%;
  display: block;
  border-radius: 0;

  &:hover {
    color: #bc1a80;
    border-bottom: 2px solid #bc1a80;
  }
}
