/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #d00a7e,
  secondary: #0094d9,
  blanco: #fff,
  negro: #000,
  azul: #009adb,
  morado: #7d5799,
  naranja: #d0764a,
  rosa: #bc1a80,
  azuloscuro: #202581,
  azuldos: #009bdb,
  naranjaEstudios: #e18a3a,
  azulOscuroEstudios: #000d26,
  azulClaroEstudios: #00b3c4,
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$hamburger-padding-x           : 5px !default;
$hamburger-padding-y           : 5px !default;
$hamburger-layer-width         : 30px !default;
$hamburger-layer-height        : 4px !default;
$hamburger-layer-spacing       : 6px !default;
$hamburger-layer-color         : theme-color("blanco") !default;
$hamburger-layer-border-radius : 4px !default;
$hamburger-hover-opacity       : 0.7 !default;
$hamburger-active-layer-color  : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter   : false !default;
$hamburger-hover-filter       : opacity(50%) !default;
$hamburger-active-hover-filter: $hamburger-hover-filter !default;

